.main {
  background: linear-gradient(rgba(22,23, 30, 0.4), rgba(0, 0, 0, 0.2)), url("../img/backgrImg.png") 20% 15% no-repeat;
  text-align: center;
  width:90vw;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  border-top: solid 10px #eeb83b;
  border-right: solid 10px #f2cb71;
  border-bottom: solid 10px #f2cb71;
  border-left: solid 10px #eeb83b;
}

.batonSearch {
  background: #305FF2;
  padding: 1%;
  border-radius: 1em;
}
.kontenerInfo{
  font-size: 1.5em;
}
.kontenerInfoUser{
  font-weight: bold;
  color:blue;
}
.writeNameId{
  font-size: 1.5em;
}
@media (min-width: 1024px) {
  .kontenerInfo{
    font-size: 2em;
  }
  .kontenerInfoUser{
    font-weight: bold;
    color:blue;
  }
  .writeNameId{
    font-size: 2em;
  }
}
